.bookmark-list__page
  %h1.bookmark-list__heading
    Your bookmarks
    %button.bookmark-add-btn= fa_icon('plus')

  = render 'form', bookmark: @new_bookmark, headline: 'New bookmark'

  %ul.bookmark-list
    = render @bookmarks
