.bookmark-list__page {
  @extend .container;
}

.bookmark-list__heading {
  @extend .col-12;
}

.bookmark-list {
  @extend .col-12;
  padding: 0;
}

.bookmark-list__item {
  @extend .list-group-item;

  height: vr(3);
  justify-content: space-between;

  // Bootstrap uses -1 bottom margin to prevent
  // `double` borders what results in breaking up vertical rhythm.
  // Instead of that just reset border on all elements except
  // the last one.
  margin-bottom: 0;
  &:not(:last-child) {
    border-bottom: none;
  }

}

.bookmark-form--new {
  @extend .col-12, .card;

  padding-bottom: vr(1);
  padding-top: vr(1);

}
