.bookmark-list__page {
  @extend .container;
}

.bookmark-list__heading {
  @extend .col-12;
}

.bookmark-list {
  @extend .col-12;
  padding: 0;
}

.bookmark-list__item {
  @extend .list-group-item;

  height: vr(3);
  justify-content: space-between;

  // Bootstrap uses -1 bottom margin to prevent
  // `double` borders what results in breaking up vertical rhythm.
  // Instead of that just reset border on all elements except
  // the last one.
  margin-bottom: 0;
  &:not(:last-child) {
    border-bottom: none;
  }

}

.bookmark-form--new {
  @extend .col-12, .card;

  box-shadow: 0px 0px vr(1) rgba(#000, .3);
  display: none;
  left: $grid-gutter-width-base/2;
  padding-bottom: vr(1);
  padding-top: vr(1);
  position: absolute;
  right: $grid-gutter-width-base/2;
  width: auto;
  z-index: $zindex-popover;

  &.active {
    display: flex;
  }
}
