@mixin base-form-control {
  font-size: ms(0);
  height: vr(2.5);
  line-height: vr(2.5);
  padding-bottom: 0;
  padding-top: 0;
}

.control-label {
  display: block;
  font-size: ms(0);
  line-height: vr(1);
  margin: vr(1) 0 vr(0.5);
}

.form-control {
  @include base-form-control;

  &[aria-invalid=true] {
    border-color: #d9534f;

    & + .help-block {
      color: #d9534f;
      font-size: ms(-1);
      line-height: vr(1.5);
      padding-left: $grid-gutter-width-base/4;
    }
  }
}

.form-group {
  margin-bottom: 0;
}

.form-btn-group {
  @extend .btn-group;

  justify-content: flex-end;
  margin-top: vr(1);
}

.form-submit {
  @include base-form-control;
  @extend .btn, .btn-success;

  &:hover { cursor: pointer; }
}

.form-cancel {
  @include base-form-control;
  @extend .btn, .btn-danger;
}
