@mixin build-heading($font-size, $v-padding, $line-height) {
  font-size: $font-size;
  line-height: $line-height;

  // Reset bootstrap
  margin-bottom: 0;

  // Not using shorthand `padding` here to avoid overriding
  // right/left values
  padding-bottom: $v-padding;
  padding-top: $v-padding;
}

h1 {
  @include build-heading(
    $font-size: ms(1),
    $line-height: vr(2),
    $v-padding: vr(1)
  );
}

h2 {
  @include build-heading(
    $font-size: ms(0),
    $line-height: vr(1.5),
    $v-padding: vr(0.25)
  );
}
