body.css-debug::before {
  background: linear-gradient(to bottom, $baseline-color,  $baseline-color 1px, transparent 1px, transparent);
  background-size: vr() vr();
  content: '';
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1000000;
  pointer-events: none;
}

