!!! 5
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{ name: 'viewport', content: "width=device-width, initial-scale=1" }/

    %title Bookmanon

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = csrf_meta_tags

  %body{ class: body_html_class }
    %nav.topbar
      %a.topbar__name{ href: '/' } Bookmanon

    = yield
